<dx-form [(formData)]="poliza" labelLocation="top" width="100%">
  <dxi-item itemType="tabbed" [tabPanelOptions]="tabPanelOptions">
    <dxi-tab title="Datos Cliente">
      <dxi-item itemType="group" colCount="2">
        <dxi-item itemType="button" horizontalAlignment="left"
          [buttonOptions]='{text:"Buscar Cliente", onClick:"buscarCliente()", icon:"filter"}'>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group">
        <dxi-item dataField="cliente.id">
          <dxo-label text="Numero de Cliente"></dxo-label>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="2">
          <dxi-item dataField="cliente.enum_tipo_dni" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: tipoDocDataSource,
                    value: 'enum_tipo_dni',
                    displayExpr: 'descripcion'}">
            <dxo-label text="Tipo Documento"></dxo-label>
          </dxi-item>
          <dxi-item dataField="cliente.dni">
            <dxo-label text="Número Documento"></dxo-label>
          </dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="2">
          <dxi-item dataField="cliente.apellido">
            <dxo-label text="Apellido"></dxo-label>
          </dxi-item>
          <dxi-item dataField="cliente.nombre">
            <dxo-label text="Nombre"></dxo-label>
          </dxi-item>
        </dxi-item>
        <dxi-item dataField="cliente.domicilio.nombre_calle" colSpan="1">
          <dxo-label text="Domicilio"></dxo-label>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="2">
          <dxi-item dataField="cliente.direccion.localidad.nombre_localidad" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: localidadDataSource,
                    value: localidad,
                    showClearButton: true,
                    allowFiltering: true,
                    displayExpr: 'nombre_localidad', valueExpr: 'id' }">
            <dxo-label text="Localidad"></dxo-label>
          </dxi-item>
          <dxi-item dataField="cliente.provincia" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: provinciaDataSource,
                    value: provincia,
                    showClearButton: true,
                    allowFiltering: true,
                    displayExpr: 'nombre_provincia', valueExpr: 'id' }">
            <dxo-label text="Provincia"></dxo-label>
          </dxi-item>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group">
        <dxi-item itemType="button" horizontalAlignment="left"
          [buttonOptions]='{text:"Agregar hijos", onClick:verHijo, icon:"filter"}'>
        </dxi-item>
        <dxi-item itemType="button" horizontalAlignment="left"
          [buttonOptions]='{text:"Confirmar",type:"success", icon:"check"}'>
        </dxi-item>
      </dxi-item>
    </dxi-tab>
    <dxi-tab title="Datos Vehículo" [colCount]="2">
      <dxi-item itemType="group" [colSpan]="2" [colCount]="2">
        <dxi-item [colSpan]="1" dataField="vehiculo.provincia" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: provinciaDataSource,
                    value: provincia,
                    showClearButton: true,
                    allowFiltering: true,
                    displayExpr: 'nombre_provincia', valueExpr: 'id' }">
          <dxo-label text="Provincia"></dxo-label>
          <dxi-validation-rule type="required" message="Debe seleccionar una provincia.">
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item [colSpan]="1" dataField="vehiculo.localidad" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: localidadDataSource,
                    value: localidad,
                    showClearButton: true,
                    allowFiltering: true,
                    displayExpr: 'nombre_localidad', valueExpr: 'id' }">
          <dxo-label text="Localidad"></dxo-label>
          <dxi-validation-rule type="required" message="Debe seleccionar una localidad.">
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item [colSpan]="1" dataField="vehiculo.marca" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: marcaDataSource,
                    value: marca,
                    showClearButton: true,
                    allowFiltering: true,
                    displayExpr: 'nombre', valueExpr: 'id' }">
          <dxo-label text="Marca"></dxo-label>
        </dxi-item>
        <dxi-item [colSpan]="1" dataField="vehiculo.modelo" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: modeloDataSource,
                    value: modelo,
                    showClearButton: true,
                    allowFiltering: true,
                    displayExpr: 'nombre', valueExpr: 'id' }">
          <dxo-label text="Modelo"></dxo-label>
        </dxi-item>
        <dxi-item [colSpan]="1" dataField="vehiculo.anio">
          <dxo-label text="Año"></dxo-label>
        </dxi-item>
        <dxi-item [colSpan]="1" dataField="vehiculo.motor">
          <dxo-label text="Motor"></dxo-label>
        </dxi-item>
        <dxi-item [colSpan]="1" dataField="vehiculo.patente">
          <dxo-label text="Patente"></dxo-label>
        </dxi-item>
        <dxi-item [colSpan]="1" dataField="vehiculo.kmAnio">
          <dxo-label text="Km. Por año"></dxo-label>
        </dxi-item>
        <dxi-item [colSpan]="1" dataField="vehiculo.medidasseguridad" editorType="dxTagBox" [editorOptions]="{
                    dataSource: medidasSeguridadDataSource,
                    value: poliza.vehiculo?.medidasseguridad,
                    showClearButton: true,
                    displayExpr: 'descripcion', valueExpr: 'id' }">
          <dxo-label text="Medidas de seguridad"></dxo-label>
          <dxi-validation-rule type="required" message="Debe seleccionar al menos una medida de seguridad.">
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item itemType="group" colSpan="2" colCount="2">
          <dxi-item dataField="siniestros">
            <dxo-label text="Siniestros en el útimo año"></dxo-label>
          </dxi-item>
          <dxi-item dataField="sumaAsegurada">
            <dxo-label text="Suma Asegurada"></dxo-label>
          </dxi-item>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" colCount="2">
        <dx-button text="Confirmar" type="success" icon="check"></dx-button>
      </dxi-item>
    </dxi-tab>
    <dxi-tab title="Datos Cobertura">
      <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
        <dxi-item dataField="tipoCobertura" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: tipoCoberturaDataSource,
                    value: tipoCobertura,
                    showClearButton: true,
                    displayExpr: 'nombre', valueExpr: 'id' }">
          <dxo-label text="Tipo Cobertura"></dxo-label>
        </dxi-item>
        <dxi-item editorType="dxDateBox" dataField="fechaInicioVigencia" [editorOptions]="{ useMaskBehavior:true,
                  width:'100%', showClearButton:'true',
                  displayFormat:'dd/MM/yyyy', dateSerializationFormat: 'yyyy/MM/dd' }">
          <dxo-label text="Fecha Inicio"></dxo-label>
        </dxi-item>
        <dxi-item dataField="formaPago" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: formaPagoDataSource,
                    value: formaPago,
                    showClearButton: true,
                    displayExpr: 'descripcion', valueExpr: 'id' }">
          <dxo-label text="Forma de Pago"></dxo-label>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" colCount="2">
        <dx-button text="Confirmar" type="success" icon="check"></dx-button>
      </dxi-item>
    </dxi-tab>
    <dxi-tab title="Información Póliza">
      <dxi-item itemType="group" caption="Titular del seguro" [colSpan]="1">
        <dxi-item dataField="cliente.apellido">
          <dxo-label text="Apellido"></dxo-label>
        </dxi-item>
        <dxi-item dataField="cliente.nombre">
          <dxo-label text="Nombre"></dxo-label>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" caption="Datos del vehículo" [colSpan]="1">
        <dxi-item dataField="vehiculo.marca">
          <dxo-label text="Marca"></dxo-label>
        </dxi-item>
        <dxi-item dataField="vehiculo.modelo">
          <dxo-label text="Modelo"></dxo-label>
        </dxi-item>
        <dxi-item dataField="vehiculo.motor">
          <dxo-label text="Motor"></dxo-label>
        </dxi-item>
        <dxi-item dataField="vehiculo.chasis">
          <dxo-label text="Chasis"></dxo-label>
        </dxi-item>
        <dxi-item dataField="vehiculo.patente">
          <dxo-label text="Patente"></dxo-label>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" caption="Vigencia" colCount="2" colSpan="2">
        <dxi-item editorType="dxDateBox" dataField="fechaInicio" colSpan="1">
          <dxo-label text="Fecha Inicio"></dxo-label>
        </dxi-item>
        <dxi-item editorType="dxDateBox" dataField="fechaVigencia" colSpan="1">
          <dxo-label text="Fecha Vigencia"></dxo-label>
        </dxi-item>
        <dxi-item dataField="sumaAsegurada">
          <dxo-label text="Suma Asegurada"></dxo-label>
        </dxi-item>
        <dxi-item dataField="premio">
          <dxo-label text="Premio"></dxo-label>
        </dxi-item>
        <dxi-item dataField="impDescuento">
          <dxo-label text="Importe por descuentos"></dxo-label>
        </dxi-item>
        <dxi-item editorType="dxDateBox" dataField="fechaUltimoPago">
          <dxo-label text="Última fecha de pago"></dxo-label>
        </dxi-item>
        <dxi-item dataField="montoTotal">
          <dxo-label text="Monto total a abonar"></dxo-label>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" colCount="2">
        <dx-button text="Confirmar" type="success" icon="check" style="padding-top: 5px"></dx-button>
      </dxi-item>
      <dxi-item itemType="group" colCount="2">
        <dx-button text="Cancelar"></dx-button>
      </dxi-item>
    </dxi-tab>
  </dxi-item>
</dx-form>

<dx-popup [width]="500" [height]="500" [showTitle]="true" (onHidden)="cerrarVerHijos()" title="Ver/Agregar hijos"
  [dragEnabled]="false" [closeOnOutsideClick]="false" [closeOnBackButton]="false" [(visible)]="verHijosVisible">
  <dx-form [(formData)]="poliza.listaHijos" labelLocation="top">
    <dxi-item itemType="group" style="width: 100%;">
      <div class="actions">
        <dx-button text="Borrar filtros" style="float: right;" class="pull-right" (onClick)="limpiarFiltros()"
          stylingMode="text" type="normal" icon="filter">
        </dx-button>
        <dx-button text="Agregar Hijos" style="float: right;" class="pull-right" (onClick)="agregarHijo()"
          stylingMode="text" type="default" icon="filter">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item itemType="group" style="width: 100%;">
      <dx-data-grid id="gridContainer" [dataSource]="hijosDataSource" [remoteOperations]="true"
        [repaintChangesOnly]="true" [height]="gridHeight" (onSelectionChanged)="seleccionaItemGrid($event)"
        [showBorders]="true">
        <dxo-selection mode="single"></dxo-selection>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxi-column dataField="fechaNacimiento" dataType="date" caption="Fecha Nacimiento" format="dd/MM/yyyy">
        </dxi-column>
        <dxi-column dataField="sexo.descripcion" [allowFiltering]="true" caption="Sexo">
          <dxo-lookup [dataSource]="sexoDataSource" displayExpr="descripcion" valueExpr="id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="estadoCivil.descripcion" [allowFiltering]="true" caption="Estado Civil">
          <dxo-lookup [dataSource]="estadoCivilDataSource" displayExpr="descripcion" valueExpr="id"></dxo-lookup>
        </dxi-column>
        <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
        <dxo-paging [pageSize]="20"></dxo-paging>
        <dxo-summary>
          <dxi-total-item column="id" summaryType="count"></dxi-total-item>
        </dxo-summary>
      </dx-data-grid>
    </dxi-item>
  </dx-form>
</dx-popup>

<dx-popup class="popup btn-custom" width="700" height="500" showTitle="true" (onHidden)="cerrarAgregarHijos()"
  title="Ver/Agregar hijos" dragEnabled="false" closeOnOutsideClick="false" closeOnBackButton="false"
  [(visible)]="agregarHijosVisible">

  <dx-form [formData]="hijo" labelLocation="top" minColWidth="200" colCount="1" width="100%">
    <dxi-item editorType="dxDateBox" dataField="fechaNacimiento" colSpan="1">
      <dxo-label text="Fecha de Nacimiento`"></dxo-label>
    </dxi-item>
    <dxi-item dataField="hijo?.sexo" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: sexoDataSource,
                    value: sexo,
                    displayExpr: 'nombre', valueExpr: 'id' }">
      <dxo-label text="Sexo"></dxo-label>
    </dxi-item>
    <dxi-item dataField="hijo?.estadoCivil" editorType="dxSelectBox" [editorOptions]="{
                    dataSource: estadoCivilDataSource,
                    value: estadoCivil,
                    displayExpr: 'nombre', valueExpr: 'id' }">
      <dxo-label text="Estado Civil"></dxo-label>
    </dxi-item>
    <dxi-item itemType="group" style="margin: 10px">
      <dx-button text="Añadir hijo/a" type="normal" icon="add" style="margin: 10px" (onClick)="agregarHijo()">
      </dx-button>
    </dxi-item>
  </dx-form>
</dx-popup>